{% extends "base.html.twig" %}

{% block body %}

<h1>Surveys list</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
                <th>Data Survey</th>
            </tr>
        </thead>
        <tbody>
        {% for survey in surveys %}
            <tr>
                <td>{{ survey.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('survey_show', { 'id': survey.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('survey_new_edit', { 'id': survey.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                <td>
                    {%for datasurvey in survey.data %}
                        <a href="{{ path('survey_show', { 'id': survey.id, 'number' : datasurvey.number}) }}">Response {{datasurvey.id}}</a>
                    {%endfor%}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('survey_new_edit') }}">Create a new survey</a>
        </li>
    </ul>

{% endblock %}