{% extends "base.html.twig" %}

{% block body %}

<h1>Surveys list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for survey in surveys %}
            <tr>
                <td><a href="{{ path('survey_show', { 'id': survey.id }) }}">{{ survey.id }}</a></td>
                <td>{{ survey.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('survey_edit', { 'id': survey.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('survey_new') }}">Create a new survey</a>
        </li>
    </ul>

{% endblock %}