{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('bundles/surveyjs/survey-jquery/survey.css')}}" type="text/css" />
{% endblock %}

{% block body %}

  <ul>
      <li>
          <a href="{{ path('survey_index') }}">Back to the list</a>
      </li>
  </ul>

  <div id="surveyContainer"></div>

  <span id='surveyJson' class='hidden'>{{survey.json|raw}}</span>
  <input id='surveyId' class='hidden' value='{{survey.id}}'/>
  {%if dataSurvey is not null %}
    <span id='dataSurvey' class='hidden'>{{dataSurvey.json|raw}}</span>
    <input id='number' class='hidden' value='{{dataSurvey.number}}'/>
  {%endif%}

{% block javascripts %}         
    {% javascripts
        'bundles/surveyjs/jquery/jquery.min.js'
        'bundles/surveyjs/survey-jquery/survey.jquery.min.js'               
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>              
    {% endjavascripts %}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}

<script type="text/javascript">

  Survey.defaultBootstrapCss.navigationButton = "btn btn-primary";
  jsonSurvey = JSON.parse($('#surveyJson').text())
  
  if($('#dataSurvey').length){
    dataJsonSurvey = JSON.parse($('#dataSurvey').text())
    number = $('#number').val()
  }else{
    dataJsonSurvey = {}
    number = 0
  }
  jsonSurvey["locale"] = "fr"
  Survey.Survey.cssType = "bootstrap"

  var survey = new Survey.Model(jsonSurvey);
  survey.showProgressBar = 'bottom'
  survey.showCompletedPage = true

  var myCss = {
        root: "panel panel-default",
        pageTitle: "",
        question: {
          "root": "",
          "title": "",
          "comment": "form-control"
        },
        "checkbox": {
          "root": "form-inline",
          "item": "checkbox",
          "other": "col-lg-12"
        },
        progressBar: "progress-bar",
   };

  survey.sendResultOnPageNext = true

      $("#surveyContainer").Survey({
          model:survey,
          css: myCss,
          data:dataJsonSurvey,
          onComplete:sendDataToServer,
          onPartialSend:sendDataToServer
  });

  function sendDataToServer(survey) {
    $.post(
      Routing.generate('survey_data_save'),
      {
        'number' : number,
        'idSurvey' : $('#surveyId').val(),
        'dataJsonSurvey' : JSON.stringify(survey.data)
      },
      function(data){     
      }, 
      'json' 
    )
  }
  </script>
{% endblock %}